# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/
bt_venv/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# BraTS / MRI datasets
BraTS-Africa/
glioma/
glioma split data/

# Temporary files
*.tmp
*.temp

# OS
.DS_Store
Thumbs.db